[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    ri = "!f(){ git rebase -i --autosquash HEAD~${1}; }; f"
    fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
    squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
[user]
    name = Nicolas Hart
    email = contact@nclshart.net
[core]
    excludesfile = /home/nclshart/.gitignore_global
    editor = vim
[pull]
    rebase = merges
[credential]
    helper = /usr/libexec/git-core/git-credential-libsecret
[pager]
    branch = false
